---
title: Consulting Block
suppress_header: true
description: "Gain access to a GitLab expert via a block of hours to help with your desired goals."
canonical_path: "/professional-services/skus/consulting-block/"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Consulting Block
.page-container.container
<iframe src="https://drive.google.com/file/d/16QzojbEXlJofZGUzapBrJK0GlKGFDeMF/preview" frameborder="2" width="1536" height="893" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" ></iframe>