---
title: GitLab Health Check - Self-Managed
suppress_header: true
description: "Optimize your GitLab setup with the Health Check - Self-Managed service, covering essential tasks and activities to ensure peak performance and reliability."
canonical_path: "/professional-services/skus/health-check-sm/"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Health Check - Self-Managed
.page-container.container
<iframe src="https://drive.google.com/file/d/1t5tHaXZrMiNgLGzaBTT2ksjjgDHJqyQN/preview" frameborder="2" width="1536" height="893" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" ></iframe>